doctype html
html(lang='en')
  head
    block head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

      link(href='/style.css', type='text/css', rel='stylesheet', media='screen,projection')

      script(src='/jquery/js/jquery.2.1.1.min.js')
      script(src='/js/layout.js')
    
    block title
      title= lang.general.name
    block meta
    block css
    block js
  
  block fullbody
    body.navbody
      block nav
        nav
          a(href="/").title= lang.general.name
          ul
            li
              a(href="/browse/node/local")= lang.index.browse
            li
              a(href="/upload")= lang.index.upload
          if user
            .user= user.username + " | "
              a(href="/logout")= lang.general.logout
          else 
            a(href="/login").user= lang.general.login
      block content