extends layout

block js
  script(src="/js/websock.js")

block content
  style.
    img {max-width: 100%; margin: 5px; display: inline-block; }
  
  p(role="alert").alert.alert-danger#connectionstatus LIVE UPDATE: Not connected to server
  h1 Media gallery
  
  .row
    each file,k in files
      a(href="/browse/"+k).col-lg-4.row
        .col-lg-12
          h2= file.title
          p(style="opacity: 0.75;") Tags:
            each tag in file.tags
              |  #{tag}
        .col-lg-12
          if file.path.toLowerCase().indexOf(".png") > 0
            img(src=file.path)
          else if file.path.toLowerCase().indexOf(".jpg") > 0
            img(src=file.path)
          else if file.path.toLowerCase().indexOf(".bmp") > 0
            img(src=file.path)
          else if file.path.toLowerCase().indexOf(".mov") > 0
            video(width="250", height="250", controls)
              source(src=file.path, type="video/quicktime")
              Your browser does not like this video.
          else if file.path.toLowerCase().indexOf(".mp4") > 0
            video( width="250", height="250", controls)
              source(src=file.path, type="video/mp4")
              Your browser does not like this video.
         


