extends includes/layout.jade

block fullbody
  body.indexbody
    nav.indexnav
      h1.title.center Flode
      if user
        .user= user.username + " | "
          a(href="/logout") Log out
      else 
        a(href="/login").user Log in
        
    .wrapper.force
      ul.grid
        li.gridItem.green
          a(href="/upload")
            .inner
              img(src="/fontawesome/cloud-upload.png").icon
              | #{lang.index.upload}
        li.gridItem.blue
          a(href="/browse/node/local")
            .inner
              img(src="/fontawesome/files-o.png").icon
              | #{lang.index.browse}
        li.gridItem.orange(class=user?"":"disabled")
          a(href=user?"/browse/user/"+user.id+"/node/local/":"/")
            .inner
              img(src="/fontawesome/user.png").icon
              | #{lang.index.user}
        li.gridItem.red
          .grid
            a(href="/settings")
              .inner
                img(src="/fontawesome/sliders.png").icon
                | #{lang.index.settings}